@charset "utf-8";
html,body{width: 100%;height: 100%;overflow: hidden;}
.header-box{position: relative;z-index: 100;}
.l{position: relative;z-index: 10;}
.goodbox{position: relative;z-index: 10;}
.lb_btn{position: fixed;right: 5%;top: 30%;z-index: 999;
    li{width: 10px;height: 10px;background: #ccc;border-radius: 50%;margin:30px 0;cursor: pointer;}
    li:first-of-type{background: #666;}
}
.lb_box{width: 100%;height: 100%;transform: translateY(0%); transition: all 500ms linear;
    section{width: 100%;height: 100%;background: url(../img/about1.jpg) center -100px no-repeat;background-size: 1600px auto;}/*盒子放背景图，让背景图居中居上，固定背景图大小*/
    section:nth-of-type(2){background-image:url(../img/about2.jpg) ;}
    section:nth-of-type(3){background-image:url(../img/about3.png) ;}
    section:nth-of-type(4){background-image:url(../img/about4.jpg) ;}
}
